.nav-bg {
    text-align: center;
    background-color: rgb(129, 205, 172);
    padding: 15px;
    font-size: 25px;
}

.cardContainer {
    width: 400px;
    padding: 20px;
    display: flex;
}

.card-header {
    padding: 10px;

}

.card-body{
    padding: 30px;
    
}

.list{
    list-style: none;
    padding: 2px;
    margin: 5px;
}

.card {
    background-color:rgb(73, 101, 89);
    border: 2px solid black;
    margin: 30px;
    color: rgba(245, 245, 245, 0.769);
    text-align: center;
    align-items: space-between;
    flex-direction: row;
    width: 100%;
}

li {
    padding: 5px;
}