body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(179, 221, 195);
}
.nav-bg {
    text-align: center;
    background-color: rgb(80, 128, 107);
    padding: 15px;
    font-size: 30px;
    color:rgba(245, 245, 245, 0.769);
}

.cardContainer {
    /* width: 500px; */
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.card-header {
    padding: 10px;
    
}

.card-body{
    padding: 30px;
    
}

.list{
    list-style: none;
    padding: 2px;
    margin: 5px;
}

.card {
    background-color:rgb(73, 101, 89);
    border: 2px solid black;
    margin: 30px;
    color: rgba(245, 245, 245, 0.769);
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
   
}

li {
    padding: 5px;
}

a:link, a:visited {
    color:rgb(134, 160, 142);
}

a:hover{
    cursor: pointer;
}

.name {
    font-size: 25px;
}

.role {
    font-size: 20px;
}